@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
:root {
  --primary: #fff;
  --secondary: #000;
  --grey: grey;
  --dark-gray: rgb(80, 80, 80);
  --light-gray: rgb(236, 224, 224);
}
.flex {
  display: flex;
}
.justify-center {
  justify-content: center;
}
.mx-30 {
  margin: 0 30px;
}
.bg-black {
  background-color: var(--secondary);
}
.cursor-ptr {
  cursor: pointer;
}
